.excel-reader {
  padding: 20px;
  /* width: 50%; */
}

.table-container {
  overflow-x: auto;
  max-height: 300px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tbody {
  overflow-y: auto;
}

thead,
tbody {
  display: block;
}

thead tr th,
tbody tr td {
  width: auto;
}

.sticky-header th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
}

.template {
  /* width: 50%; */
}

.generator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
.generator button {
  width: 30vw;
  margin: auto;
  margin-top: 20px;
}
.files-up {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.none {
  visibility: hidden !important;
  display: none !important;
  opacity: 0 !important;
}

/* Add this to your existing styles or create a new CSS file */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #00000000;
  padding: 20px;
  border-radius: 5px;
}

.modal button {
  margin-top: 10px;
  margin: auto;
  padding: 5px 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-up-g {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #07d15b;
  color: #07d15b;
}
.btn-up-g:hover {
  color: #fff;
}
.btn-up-g:hover:after {
  height: 100%;
}
.btn-up-g:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #07e363;
}

.btn-up-b {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #4433ff;
  color: #4433ff;
}
.btn-up-b:hover {
  color: #fff;
}
.btn-up-b:hover:after {
  height: 100%;
}
.btn-up-b:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #4433ff;
}

.css-input {
  padding: 1px;
  font-size: 16px;
  border-width: 0px;
  border-color: #ff0000;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0px 0px 7px rgba(151, 14, 191, 0.84);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  margin-left: 10px;
  margin-right: 10px;
}
.css-input:focus {
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.906); /* Semi-transparent black */
  z-index: 1000; /* Ensure the overlay appears above other content */
}

/* Optional: Center content vertically and horizontally */
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.load {
  text-align: center;
  margin-top: 10%;
  padding-left: 40px;
  padding-right: 40px;
}
.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 30%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}
.loader::after {
  content: "";
  width: 40%;
  height: 100%;
  background: #ff3d00;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

/* -------------------------------------- */
.loader-2 {
  font-size: 48px;
  color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader-2:before {
  content: "";
  animation: 5s print linear alternate infinite;
}
.loader-2:after {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translatey(-45%);
  width: 2px;
  height: 1.3em;
  background: currentColor;
  opacity: 0.8;
  animation: 1s blink steps(2) infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes print {
  0% {
    content: "L";
  }
  10% {
    content: "Lo";
  }
  20% {
    content: "Loa";
  }
  30% {
    content: "Load";
  }
  40% {
    content: "Loadi";
  }
  50% {
    content: "Loadin";
  }
  60% {
    content: "Loading";
  }
  70% {
    content: "Loading.";
  }
  80% {
    content: "Loading..";
  }
  90%,
  100% {
    content: "Loading...";
  }
}
/* -------------------------------------- */
